.DS_Store
.env
.idea
.vscode/
!default.env
bin/
vendor/
.htaccess
.htpasswd
var/
web/fileadmin/
web/typo3conf/*
web/typo3conf/ext/
web/typo3conf/l10n/
!web/typo3conf/AdditionalConfiguration.php
web/typo3temp/
web/typo3
web/index.php
